body {
    padding: 20px;
    margin: 0;
}

.side-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    border-right: 2px solid black;
}

.side-nav  a {
    margin-bottom: 10px;
    text-decoration: none;
}

.slot {
    margin-left: 100px;
}

.current {
    color: white;
    background-color: blue;
}

.archived {
    background-color: #b1a6a6 !important;
}

.flash-message {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.success-flash-message {
    background-color: green;
}

.error-flash-message {
    background-color: darkred;
}

.todo, .register-form {
    width: 500px;
    margin: 0 auto;
}

.todo-form {
    border-top: 3px solid blue;
}

.todo-card {
    border-top: 1px solid blue;
}

.icon-btn {
    background: none;
    border: 0;
}

.completed {
    background-color: #E6E6FA;
}

.error-message {
    color: red;
    font-size: 14px ;
}

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
}

.--modal {
    width: 50vw;
    height: 80vh;
    background-color: white;
}

